rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /familie/{document=**} {
      allow read, write: if true;
    }
    match /huishoudens/{document=**} {
      allow read, write: if true;
    }
    match /recepten/{document=**} {
      allow read, write: if true;
    }
    match /boodschappen/{document=**} {
      allow read, write: if true;
    }
    match /verlanglijstjes/{document=**} {
      allow read, write: if true;
    }
  }
}
